In [27]:
# importing modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [28]:
df = pd.read_excel('./datasets/LFR2023_SectionI.xlsx', sheet_name='I4', skiprows=6)
df

,Unnamed: 0,Total,Less Than 1 Year,1 Year to Less Than 5\nYears,5 Years to Less Than\n10 Years,10 Years to Less\nThan 20 Years,At Least 20 Years
0,Sex,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,2024.7,332.5,695.2,372.6,385.5,239.1
2,Male,1004.1,160.6,337.6,182.6,194.2,129.1
3,Female,1020.7,171.9,357.6,190.0,191.3,110
4,Age (Years),NaN,NaN,NaN,NaN,NaN,NaN
5,Total,2024.7,332.5,695.2,372.6,385.5,239.1
6,15 - 24,98.5,60.3,35.7,2.2,0.1,-
7,25 - 29,202.4,56.4,120.3,24.3,1.5,-
8,30 - 39,501.2,82.3,203.5,127.8,86.7,0.9
9,40 - 49,481.7,57.6,145.0,93.5,136.7,48.9
10,50 - 59,416.4,43.2,100.0,72.6,98.4,102.2
11,60 & Over,324.6,32.7,90.6,52.1,62.1,87
12,60 - 69,252.8,25.4,65.5,39.9,50.0,72.1
13,70 & Over,71.7,7.3,25.1,12.2,12.1,14.9
14,Highest Qualification Attained,NaN,NaN,NaN,NaN,NaN,NaN
15,Total,2024.7,332.5,695.2,372.6,385.5,239.1
16,Below Secondary,238.0,30.0,77.9,43.3,47.6,39.2
17,Secondary,257.5,37.9,74.3,44.8,49.3,51.1
18,Post-Secondary (Non-Tertiary),218.7,45.6,69.6,38.0,35.8,29.9
19,Diploma & Professional Qualification,402.1,75.5,134.1,70.4,77.6,44.6
20,Degree,908.3,143.6,339.3,176.1,175.2,74.2
21,Nature of Employment,NaN,NaN,NaN,NaN,NaN,NaN
22,Total,2024.7,332.5,695.2,372.6,385.5,239.1
23,Full-Time,1833.8,280.0,619.1,343.4,365.5,225.9
24,Part-Time,191.0,52.5,76.0,29.2,20.0,13.2
25,Occupation (SSOC 2020),NaN,NaN,NaN,NaN,NaN,NaN
26,Total,2024.7,332.5,695.2,372.6,385.5,239.1
27,Managers & Administrators,293.7,31.6,90.3,59.1,70.9,41.9
28,Professionals,586.1,92.3,210.1,107.7,114.4,61.6
29,Associate Professionals & Technicians,418.7,72.1,144.4,77.3,76.1,48.7
30,Clerical Support Workers,205.9,42.3,65.1,33.5,36.9,28.1
31,Service & Sales Workers,233.3,48.4,83.9,42.3,38.1,20.7
32,Craftsmen & Related Trades Workers,47.7,5.6,12.0,7.7,10.0,12.5
33,Plant & Machine Operators & Assemblers,67.1,9.1,21.0,12.7,14.0,10.3
34,"Cleaners, Labourers & Related Workers",152.5,30.0,63.0,28.8,20.5,10.1
35,Others,19.8,1.2,5.3,3.5,4.7,5.2
36,Industry (SSIC 2020),NaN,NaN,NaN,NaN,NaN,NaN
37,Total,2024.7,332.5,695.2,372.6,385.5,239.1
38,C Manufacturing,198.5,22.8,52.9,35.2,49.5,38.1
39,F Construction,79.1,10.2,25.8,15.4,16.6,11.2
40,G-U Services,1726.6,296.9,610.4,318.3,314.8,186.1
41,G Wholesale & Retail Trade,295.2,44.0,98.3,56.5,59.8,36.6
42,H Transportation & Storage,143.9,21.5,40.7,28.4,29.5,23.8
43,I Accommodation & Food Services,121.8,29.6,50.6,20.0,13.8,7.8
44,J Information & Communications,124.0,26.5,55.9,20.8,14.7,6.1
45,K Financial & Insurance Services,213.7,41.3,75.5,41.4,35.7,19.7
46,L Real Estate Services,37.0,5.9,14.8,6.3,5.7,4.4
47,M Professional Services,175.3,32.4,69.8,30.8,28.7,13.6
48,N Administrative & Support Services,117.1,23.8,49.7,21.3,15.6,6.7
49,"O, P Public Administration & Education",245.2,30.5,67.0,42.4,61.8,43.4
50,Q Health & Social Services,161.9,26.2,58.1,31.7,30.9,14.9
51,"R Arts, Entertainment & Recreation",33.0,5.9,9.8,5.6,8.7,3
52,"S-U Other Community, Social & Personal Services",58.5,9.3,20.2,12.9,9.9,6.2
53,"A, B, D, E Others",20.5,2.6,6.0,3.8,4.6,3.6
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,"Source: Comprehensive Labour Force Survey, Man...",NaN,NaN,NaN,NaN,NaN,NaN
56,,NaN,NaN,NaN,NaN,NaN,NaN
57,Notes:,NaN,NaN,NaN,NaN,NaN,NaN
58,1) 'Others' occupation includes Agricultural &...,NaN,NaN,NaN,NaN,NaN,NaN
59,"2) 'Others' industry includes Agriculture, Fis...",NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df = df.iloc[36:54]
df

,Unnamed: 0,Total,Less Than 1 Year,1 Year to Less Than 5\nYears,5 Years to Less Than\n10 Years,10 Years to Less\nThan 20 Years,At Least 20 Years
36,Industry (SSIC 2020),NaN,NaN,NaN,NaN,NaN,NaN
37,Total,2024.7,332.5,695.2,372.6,385.5,239.1
38,C Manufacturing,198.5,22.8,52.9,35.2,49.5,38.1
39,F Construction,79.1,10.2,25.8,15.4,16.6,11.2
40,G-U Services,1726.6,296.9,610.4,318.3,314.8,186.1
41,G Wholesale & Retail Trade,295.2,44.0,98.3,56.5,59.8,36.6
42,H Transportation & Storage,143.9,21.5,40.7,28.4,29.5,23.8
43,I Accommodation & Food Services,121.8,29.6,50.6,20.0,13.8,7.8
44,J Information & Communications,124.0,26.5,55.9,20.8,14.7,6.1
45,K Financial & Insurance Services,213.7,41.3,75.5,41.4,35.7,19.7
46,L Real Estate Services,37.0,5.9,14.8,6.3,5.7,4.4
47,M Professional Services,175.3,32.4,69.8,30.8,28.7,13.6
48,N Administrative & Support Services,117.1,23.8,49.7,21.3,15.6,6.7
49,"O, P Public Administration & Education",245.2,30.5,67.0,42.4,61.8,43.4
50,Q Health & Social Services,161.9,26.2,58.1,31.7,30.9,14.9
51,"R Arts, Entertainment & Recreation",33.0,5.9,9.8,5.6,8.7,3
52,"S-U Other Community, Social & Personal Services",58.5,9.3,20.2,12.9,9.9,6.2
53,"A, B, D, E Others",20.5,2.6,6.0,3.8,4.6,3.6

In [30]:
df.rename({"Unnamed: 0": "Industry (SSIC 2020)", "Less Than 1 Year": "<1 Year", "1 Year to Less Than 5\nYears": "1-5 Years", "5 Years to Less Than\n10 Years": "5-10 Years", "10 Years to Less\nThan 20 Years": '10-20 Years', "At Least 20 Years": ">20 Years"} , axis=1 , inplace=True)

In [31]:
df.drop(36, inplace=True)

In [32]:
numerical_cols = ['Total' ,'<1 Year', '1-5 Years', '5-10 Years', '10-20 Years', '>20 Years']
for col in numerical_cols:
    df[col] = df[col].astype(float) # np.astype to float so that numbers can be rounded

    df[col] = np.array(df[col]) * 1000
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64') # Convert to int while keeping NaN values

df

,Industry (SSIC 2020),Total,<1 Year,1-5 Years,5-10 Years,10-20 Years,>20 Years
37,Total,2024700,332500,695200,372600,385500,239100
38,C Manufacturing,198500,22800,52900,35200,49500,38100
39,F Construction,79100,10200,25800,15400,16600,11200
40,G-U Services,1726600,296900,610400,318300,314800,186100
41,G Wholesale & Retail Trade,295200,44000,98300,56500,59800,36600
42,H Transportation & Storage,143900,21500,40700,28400,29500,23800
43,I Accommodation & Food Services,121800,29600,50600,20000,13800,7800
44,J Information & Communications,124000,26500,55900,20800,14700,6100
45,K Financial & Insurance Services,213700,41300,75500,41400,35700,19700
46,L Real Estate Services,37000,5900,14800,6300,5700,4400
47,M Professional Services,175300,32400,69800,30800,28700,13600
48,N Administrative & Support Services,117100,23800,49700,21300,15600,6700
49,"O, P Public Administration & Education",245200,30500,67000,42400,61800,43400
50,Q Health & Social Services,161900,26200,58100,31700,30900,14900
51,"R Arts, Entertainment & Recreation",33000,5900,9800,5600,8700,3000
52,"S-U Other Community, Social & Personal Services",58500,9300,20200,12900,9900,6200
53,"A, B, D, E Others",20500,2600,6000,3800,4600,3600